<% if params[:type] != nil %>
	<div><%= render "form" %></div>
<% else %>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<h1>Welcome to Larry's Picks</h1>
					<p>take Vegas to the cleaners...</p>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="panel panel-default" id="tables">
		<div class="panel-heading">
			Teams:
		</div>
		<div class="panel-body table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Sport</th>
						<th>Team Location</th>
						<th>Team Name</th>
						<th>Abbreviation</th>
						<th>Next Game</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @teams.each do |team| %>
						<tr>
							<td><%= link_to sport_alias(team.type), "/#{team.type.underscore}" %></td>
							<td><%= link_to team.city, team %></td>
							<td><%= link_to team.name, team %></td>
							<td><%= link_to team.abbreviation, team %></td>
							<td></td>
							<td><%= link_to "edit", edit_team_path(team) %></td>
							<td><%= link_to "delete", team_path(team), method: :delete, confirm: "Are you sure?" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
