<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title"><%= @team.city %> <%= @team.name %></h1>
	</div>
	<div class="panel-body">
		<ul>
			<li>Location: <%= @team.city %></li>
			<li>Abbrevation: <%= @team.abbreviation %></li>
		</ul>
		<%= link_to "Back", "/#{@team.type.underscore}" %> |
		<%= link_to "Edit", edit_team_path(@team) %> |
		<%= link_to "Delete", team_path(@team), method: :delete, confirm: "You sure?" %>

	</div>
</div>




